<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.dashboard.dao.MonitorRecordMapper">

    <sql id="tableName">monitor_record</sql>

    <sql id="columns_no_id">
        symbol, type, send_time
    </sql>

    <sql id="columns">
        id, <include refid="columns_no_id"/>
    </sql>

    <sql id="columns_join">
        a.id, a.symbol, a.type, a.send_time
    </sql>

    <sql id="likeWhere" databaseId="mysql">
    </sql>

    <sql id="dynamicWhere">
        <where>
            <if test="symbol not in {null, ''}">a.symbol = #{symbol}</if>
            <if test="type not in {null, ''}">AND a.type = #{type}</if>
            <if test="sendTime not in {null, ''}">AND a.send_time = #{sendTime}</if>
            <include refid="likeWhere"/>
        </where>
    </sql>

    <select id="get" resultType="MonitorRecord" parameterType="long">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        WHERE a.id = #{id}
    </select>

    <select id="getByDynamicWhere" resultType="MonitorRecord">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(1)
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
    </select>

    <select id="getList" resultType="MonitorRecord">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
        <if test="fullordering not in {null, ''}">
            ORDER BY ${fullordering}
        </if>
    </select>

    <select id="getLast" resultType="MonitorRecord">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
        ORDER BY a.send_time DESC
        LIMIT 0,1
    </select>

    <insert id="insert" parameterType="MonitorRecord" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT IGNORE INTO <include refid="tableName"/>
        (<include refid="columns_no_id"/>)
        VALUES
        (
        #{symbol}, #{type}, #{sendTime}
        )
    </insert>

    <update id="update" parameterType="MonitorRecord">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="symbol not in {null, ''}">symbol=#{symbol}, </if>
            <if test="type not in {null, ''}">type=#{type}, </if>
            <if test="sendTime not in {null, ''}">send_time=#{sendTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName"/> WHERE id = #{id}
    </delete>

    <delete id="batchDelete">
        DELETE FROM <include refid="tableName"/>
        WHERE id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
